{% extends "layout.html" %}
{% from "tools.html" import render_field, show_messages %}

{% macro render_ans_form(form, form_name) %}
    {% if form_name == 'test' %}
        <label>Варианты ответа</label>
        <div data-fieldlist>
        {% for ans in form.answers %}
            <div class='row' data-fieldlist-entry>
                <div class='col-xs-1'>
                    {{ render_field(ans.right) }}
                </div>
                <div class='col-xs-11'>
                    {{ render_field(ans.ans, render_label=False) }}
                </div>
            </div>
        {% endfor %}
            <div class='form-group'>
                <a class='btn btn-primary' href='#' role='button' data-fieldlist-add>
                    Добавить ответ
                </a>
                <a class='btn btn-warning' href='#' role='button' data-fieldlist-remove>
                    Удалить ответ
                </a>
            </div>
        </div>
    {% else %}
        <div class='row'>
            <div class='col-xs-6'>
                {{ render_field(form.ans) }}
            </div>
            <div class='col-xs-6'>
                {{ render_field(form.eps) }}
            </div>
        </div>
    {% endif %}
{% endmacro %}

{% block title %}Добавить задание{% endblock %}

{% block page_css %}
    textarea {
        resize: vertical;
    }
{% endblock %}

{% block side_navbar %}
    {% include 'navbar.html' %}
{% endblock %}


{% block content %}

<div class='content'>
    <ul class="nav nav-tabs">
      <li role="presentation" class="active"><a href="/add_task/test">Тест</a></li>
      <li role="presentation"><a href="/add_task/notebook">Ноутбук</a></li>
      <li role="presentation"><a href="/add_task/programming">Программирование</a></li>
    </ul>
    <br>

    {{ show_messages() }}
    <form method='POST' enctype='multipart/form-data'>
        {{ form.csrf_token }}
        {{ render_field(form.name) }}
        <br>

        {{ render_field(form.info.intro_description) }}
        <ol style="padding-left: 0">
        <div id='questions'>
            <div data-fieldlist>
                {% for q in form.info.questions %}
                    <div data-fieldlist-entry data-variant>
                        <div class='row'>
                            <div class='form-group col-xs-9'>
                                <li style="font-weight: bold">{{ render_field(q.question) }}</li>
                            </div>
                            <div class='form-group col-xs-3'>
                                {{ render_field(q.img) }}
                                {{ render_field(q.mark) }}
                                {{ render_field(q.question_type) }}
                            </div>
                        </div>

                        {% for form_name, form in q.answers.tpl_forms.items() %}
                            {% if form_name == q.answers.form_name %}
                                {% set form = q.answers %}
                                {% set show = True %}
                            {% endif %}

                            {% if show %}
                                <div data-variant-entry="{{ form_name }}">
                            {% else %}
                                <div data-variant-entry="{{ form_name }}" style='display:none'>
                            {% endif %}
                                {{ render_ans_form(form, form_name) }}
                            </div>
                        {% endfor %}

                        {{ render_field(q.ans_explanation) }}
                        <br>
                    </div>
                {% endfor %}
                <div class='form-group'>
                    <a class='btn btn-primary' href='#' role='button' data-fieldlist-add>
                        Добавить вопрос
                    </a>
                    <a class='btn btn-warning' href='#' role='button' data-fieldlist-remove>
                        Удалить вопрос
                    </a>
                </div>
                <br>
            </div>
        </div>
        </div>
        </ol>


        {{ render_field(form.info.random_order) }}
        {{ render_field(form.info.random_answer_order) }}
        {{ render_field(form.info.sample_questions) }}
        {{ render_field(form.info.many_attempts) }}
        {{ render_field(form.info.n_questions) }}

        <button type='submit' class='btn btn-default'>
            {% set button_text = {'add_task': 'Добавить задание', 'edit_task': 'Обновить задание'} %}
            {{ button_text[endpoint] }}
        </button>
        {% if endpoint == 'edit_task' %}
            <a href="/delete_task/{{ task_id }}"
                    class='btn btn-danger delete_button'>
                Удалить задание
            </a>
        {% endif %}
    </form>
</div>

<script type='text/javascript'>
$('input[type=file]').bootstrapFileInput();

$(function() {
    $("#questions").on("click", "[data-fieldlist-add]", function() {
        var $this = $(this).closest("[data-fieldlist]");
        var entry = $this.children("[data-fieldlist-entry]:last");
        entry.find('select').each(function() {
            $this = $(this);
            $this.selectpicker('destroy');
        });
        var new_entry = entry.clone(true, true);

        var elem_id = new_entry.find(":input")[0].id;
        var elem_prefix = elem_id.replace(/(.*)-(\d{1,4})-(.*)/m, '$1')// max 4 digits for ids in list
        var elem_num = parseInt(elem_id.replace(/(.*)-(\d{1,4})/m, '$2')) + 1;

        new_entry.find(':input').each(function() {
            var id = $(this).attr('id').replace(elem_prefix+'-' + (elem_num - 1), elem_prefix+'-' + (elem_num));
            $(this).attr('name', id).attr('id', id).val('').prop('checked', false);
            if ($(this).attr('type') == "checkbox") {
                $(this).attr('value', "y");
            }
        });
        new_entry.find('label').each(function() {
            if ($(this).attr('for')) {
                if ($(this).attr('for') == "info-questions-" + (elem_num - 1) + "-img") {
                    this.innerHTML = this.innerHTML.replace(/\(<a.*<\/a>\)/, "");
                }
                var id = $(this).attr('for').replace(elem_prefix + '-' + (elem_num - 1), elem_prefix + '-' + (elem_num));
                $(this).attr('for', id);
            }
        });

        new_entry.find('.file-input-name').remove();
        new_entry.show();
        entry.after(new_entry);
        entry.find('select').selectpicker();
        new_entry.find('select').selectpicker();
        return false;
    });
    $("#questions").on("click", "[data-fieldlist-remove]", function() {
        var $this = $(this).closest("[data-fieldlist]");
        if ($this.children("[data-fieldlist-entry]").length > 1) {
            $this.children("[data-fieldlist-entry]:last").remove();
        }
        return false;
    });
    $("#questions").on("changed.bs.select", "[data-variant-choose]", function() {
        var val = $(this).val();
        var $this = $(this).closest("[data-variant]");
        $this.find('[data-variant-entry]:visible :input').prop('disabled', true);
        $this.children('[data-variant-entry]:visible').hide();
        $this.find(`[data-variant-entry='${val}'] :input`).prop('disabled', false);
        $this.children(`[data-variant-entry='${val}']`).show();
    });
    $('#questions [data-variant-entry] :input:hidden').prop("disabled", true);
});

// Select clone fix from
// https://stackoverflow.com/a/36218895
$(document).on("change", "select", function(){
    var val = $(this).val();
    $("option", this).removeAttr("selected").filter(function(){
        return $(this).attr("value") == val;
    }).first().attr("selected", "selected");
});

</script>
{% endblock %}
