{% extends "layout.html" %}
{% from "tools.html" import render_field, show_messages %}

{% block title %}Удалить прикрепление{% endblock %}

{% block side_navbar %}
    {% include 'navbar.html' %}
{% endblock %}

{% block content %}
<div class='content'>
    {{ show_messages() }}

    <form method='POST'>
        {{ form.csrf_token }}
        <h4 style="margin-top: 0; margin-bottom: 20px">
            <b>
                Для подтверждения удаления прикрепления из курса <i>{{ active_course_name }}</i>,
                введите указанную строчку в поле ниже:
            </b>
        </h4>
        <h4 style="margin-bottom: 15px">
            <i>
                {{ token }}
            </i>
        </h4>
        {{ render_field(form.name) }}
        <button type='submit' class='btn btn-default delete_button'>
            Удалить прикрепление
        </button>
    </form>
    {% if endpoint == 'delete_attached_task' %}
        <a href="/course/{{ active_course_id }}/task/{{ task_id }}" class='btn btn-default' style="margin-top: 15px">
            Отмена
        </a>
    {% endif %}

</div>

{% endblock %}
