<li>
<a class="const-grey" class="const-grey" href="#left_drop_down" data-toggle="collapse" aria-expanded="false">
    {% if active_course %}
        {{ active_course.name }}
    {% else %}
        {% set endpoint_labels = {'add_course': 'Добавить курс',
                                  'edit_course': 'Редактировать курс',
                                  'groups': 'Группы',
                                  'add_group': 'Добавить группу',
                                  'edit_group': 'Редактировать группу',
                                  'roles': 'Роли',
                                  'add_role': 'Добавить роль',
                                  'add_user_to_course': 'Присоединиться к курсу',
                                  'add_task': 'Добавить задание',
                                  'add_task_notebook': 'Добавить задание',
                                  'add_task_programming': 'Добавить задание',
                                  'edit_task': 'Редактировать задание',
                                  'edit_task_notebook': 'Редактировать задание',
                                  'edit_task_programming': 'Редактировать задание',
                                  'attach_task': 'Прикрепить задание',
                                  'edit_attached_task': 'Редактировать прикрепление',
                                  'grade_solution': 'Проверить решение',
                                  'add_image': 'Добавить образ',
                                  'edit_image': 'Обновить образ',
                                  'images': 'Образы',
                                  'delete_attached_task': 'Удалить прикрепление',
                                  'delete_task': 'Удалить задание',
                                  'delete_course': 'Удалить курс',
                                  } %}
        {{ endpoint_labels[endpoint] }}
    {% endif %}
</a>
<ul class="collapse list-unstyled" id="left_drop_down">
    {% for course in current_user.courses %}
        {% if active_course and active_course.id == course.id %}
        {% else %}
            <li><a class="const-grey" href="/course/{{ course.id }}/info">{{ course.name }}</a></li>
        {% endif %}
    {% endfor %}

    {% if (current_user.courses | length == 1 and active_course) or current_user.courses | length == 0 %}
    {% else %}
        <li class="separator"></li>
    {% endif %}

    {% if endpoint != 'add_task' and endpoint != 'add_task_programming' and current_user.is_admin %}
        <li><a class="const-grey" href="/add_task/test">Добавить задание</a></li>
    {% endif %}

    {% if endpoint != 'add_course' and current_user.is_admin %}
        <li><a class="const-grey" href="/add_course">Добавить курс</a></li>
    {% endif %}

    {% if endpoint != 'edit_course' and active_course and current_user.is_admin %}
        <li><a class="const-grey" href="/edit_course/{{ active_course.id }}">Редактировать курс</a></li>
    {% endif %}

    {% if endpoint != 'add_user_to_course' %}
        <li><a class="const-grey" href="/add_user_to_course">Присоединиться к курсу</a></li>
    {% endif %}

    {% if active_task and endpoint != 'edit_task' and current_user.is_admin %}
        <li><a class="const-grey" href="/edit_task/{{ active_task.task.id }}">Редактировать задание</a></li>
    {% endif %}

    {% if endpoint != 'attach_task' and current_user.is_admin %}
        <li><a class="const-grey" href="/attach_task">Прикрепить задание</a></li>
    {% endif %}

    {% if endpoint != 'add_image' and current_user.is_admin %}
        <li><a class="const-grey" href="/add_image">Добавить образ</a></li>
    {% endif %}

    {% if active_course and endpoint != 'groups' and current_user.is_admin %}
        <li><a class="const-grey" href="/course/{{ active_course.id }}/groups">Группы</a></li>
    {% endif %}

    {% if endpoint != 'images' and current_user.is_admin %}
        <li><a class="const-grey" href="/images">Образы</a></li>
    {% endif %}

    {% if endpoint != 'edit_attached_task' and active_task and current_user.is_admin %}
        <li><a class="const-grey" href="/edit_attached_task/course/{{ active_course.id }}/task/{{ active_task.attach_id }}">
                Редактировать прикрепление
        </a></li>
    {% endif %}
</ul>
</li>