{% extends "layout.html" %}

{% block title %}{% endblock %}

{% block side_navbar %}
<nav id="sidebar" style="overflow:auto">
    <!-- Sidebar Header -->
    <div class="sidebar-header">
        <h4 style="text-align: center">{{ current_user.firstname }}</h4>
    </div>

     <!-- Sidebar Links -->
    <ul class="list-unstyled components">
        <!-- Link with dropdown items -->
        {% include 'left_dropdown_navbar.html' %}
        {% include 'course_materials_navbar.html' %}
        <li>
            <a class="const-grey" href='/course/{{ active_course.id }}/standings'>
                Таблица результатов
            </a>
        </li>
        {% if current_user.is_admin %}
        <li>
            <a class="const-grey" href='/course/{{ active_course.id }}/solutions'>
                Решения
            </a>
        </li>
        {% endif %}
        {% include 'profile_navbar.html' %}
    </ul>
</nav>
    {% include 'button_navbar.html' %}
{% endblock %}


{% block content %}
<div class='content'>
    <h4>Инструкция по рецензированию</h4>
    <p>
    {{ active_task.peer_review_criteria | markdown }}
    </p>

    <h4>Файлы решения</h4>
    {% for description in solution.files %}
        {% if peer_review_id %}
            <a href='/course/{{ active_course.id }}/task/{{ task_id }}/review_solution_file/{{ peer_review_id }}/{{ description }}'>
                {{ description }}
            </a>
        {% else %}
            <a href='/solution_file/{{ solution.id }}/{{ description }}'>
                {{ description }}
            </a>
        {% endif %}
    {% endfor %}
    <br><br>

    <h4>Оценивание</h4>
    {{ render_form(form, 'Сохранить рецензию') }}
</div>


<script type='text/javascript'>
$('input[type=file]').bootstrapFileInput();
</script>
{% endblock %}
