{#<li>#}
{#<a class="const-grey" href="#user_profile" data-toggle="collapse" aria-expanded="false">#}
{#    {{ current_user.firstname }}#}
{#</a>#}
{#<ul class="collapse list-unstyled" id="user_profile">#}
{#    <li>#}
{#        <a class="const-grey" href='/logout'>Выйти</a>#}
{#    </li>#}
{#</ul>#}
{#</li>#}
<li>
    <a class="const-grey" href='/logout'>Выйти</a>
</li>