{% extends "layout.html" %}

{% block title %}Зарегистрироваться{% endblock %}

{% block page_css %}
    .center {
        float: none;
        margin-left: auto;
        margin-right: auto;
    }
{% endblock %}

{% block wrapper %}
{% block content %}
<div class='center content'>
    <ul class="nav nav-pills">
        <li>
            <a href='/login'>Войти</a>
        </li>
        <li class='active'>
            <a href='/register'>Зарегистрироваться</a>
        </li>
        <li>
            <a href='/restore_pass'>Восстановить пароль</a>
        </li>
    </ul>
    <br>
    {{ show_messages() }}
    {{ render_form(form, 'Зарегистрироваться') }}
</div>
{% endblock %}
{% endblock %}