{% extends "layout.html" %}

{% block title %}Роли в курсе{% endblock %}

{% block side_navbar %}
    {% include 'navbar.html' %}
{% endblock %}


{% block content %}

<div class='content'>
{{ show_messages() }}
<table class='table table-condensed'>
    <tr>
        <th width='25px'></th>
        <th width='100px'>Студент</th>
        <th width='100px'>Роль</th>
    </tr>
    {% for role in course.roles %}
        <tr>
            <td>
            </td>
            <td>
                {{ role.user.firstname }}
                {{ role.user.lastname }}
            </td>
            <td>
                {{ role.role }}
            </td>
        </tr>
    {% endfor %}
        <tr>
            <td>
                <a href='/course/{{ course.id }}/add_role'>
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            </td>
            <td>
            </td>
            <td>
            </td>
        </tr>
</table>
</div>
{% endblock %}
