{% extends "layout.html" %}

{% block title %}{% endblock %}

{% block page_css %}
    ol {
        padding-left: 15px;
    }
{% endblock %}

{% block side_navbar %}
<nav id="sidebar" style="overflow:auto">
    <!-- Sidebar Header -->
    <div class="sidebar-header">
        <h4 style="text-align: center">{{ current_user.firstname }}</h4>
    </div>

     <!-- Sidebar Links -->
    <ul class="list-unstyled components">
        <!-- Link with dropdown items -->
        {% include 'left_dropdown_navbar.html' %}
        {% include 'course_materials_navbar.html' %}
        <li>
            <a class="const-grey" href='/course/{{ active_course.id }}/standings'>
                Таблица результатов
            </a>
        </li>
        {% if current_user.is_admin %}
        <li>
            <a class="const-grey" href='/course/{{ active_course.id }}/solutions'>
                Решения
            </a>
        </li>
        {% endif %}
        {% include 'profile_navbar.html' %}
    </ul>
</nav>
    {% include 'button_navbar.html' %}
{% endblock %}


{% block content %}
<div class='content'>
    {% if active_task.task.info.get('intro_description') %}
        {{ active_task.task.info.get('intro_description') | markdown }}
    {% endif %}
    <p>
    В тестовых заданиях первая галочка — правильный ответ, вторая галочка —
    выбранный ответ. Цвет обозначает, правильно ли в данном
    пункте поставлена галочка. Если все пункты верные (галочки
    совпадают / все пункты зеленые), то за задание ставится
    полный балл, в противном случае ставится 0 баллов.
    </p>
    <ol>
    {% for ind in solution.info['question_indices'] %}
        {% set q = active_task.task.info['questions'][ind] %}
        {% set i = loop.index0 %}
        {% set a = solution.info['answers'][i] %}
        {% set g = solution.info['grades'][i] %}
        <li>
            <div>
                <div style='width: 50%'>
                    {{ q['question'] | markdown }}
                </div>
                <div style='width: 50%'>
                    {% if q['img_url'] %}
                        <img src='{{ q['img_url'] }}' width='400px'>
                    {% endif %}
                </div>
            </div>
                {% if q['answers']['type'] == 'number' %}
                    <b>Ответ:</b> {{ a }}<br>
                    <b>Правильный ответ:</b> {{ q['answers']['ans'] }}<br>
                    <b>Погрешность:</b> {{ q['answers']['eps'] }} <br>
                    <b>Балл:</b>
                    {% if g %}
                        {{ q['mark'] }}
                    {% else %}
                        0
                    {% endif %}
                    <br>
                    <b>Комментарий к правильному ответу:</b>
                    {{ q['ans_explanation'] | markdown }}
                    <br>
                {% else %}
                    {% if solution.info['ans_indices'] %}
                        {% set ans_ind = solution.info['ans_indices'][i] %}
                    {% else %}
                        {% set ans_ind = range(q['answers']['answers'] | length) %}
                    {% endif %}
                    <table>
                        {% for j in ans_ind %}
                            <tr>
                                {% set opt = q['answers']['answers'][j] %}
                                <td style='vertical-align: top'>
                                    <div class='checkbox'>
                                    <label>
                                        <input type='checkbox' disabled {% if opt['right'] %}checked{% endif %}>
                                    </label>
                                    </div>
                                </td>
                                <td style='vertical-align: top'>
                                    <div class='{% if g[loop.index0] %}has-success{% else %}has-error{% endif %}'>
                                        <div class='checkbox'>
                                            <label>
                                                <input type='checkbox' disabled {% if a[loop.index0] %}checked{% endif %}>
                                                    {{ opt['ans'] }}
                                            </label>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    <table>
                    <b>Балл:</b>
                    {% if all(g) %}
                        {{ q['mark'] }}
                    {% else %}
                        0
                    {% endif %}
                    <br>
                    <b>Комментарий к правильному ответу:</b>
                    {{ q['ans_explanation'] | markdown }}
                    <br>
                {% endif %}
            </table>
        </li>
        <br>
    {% endfor %}
    </ol>
</div>


<script type='text/javascript'>
$('input[type=file]').bootstrapFileInput();
</script>
{% endblock %}
