{% extends "layout.html" %}

{% block title %}{% endblock %}

{% block side_navbar %}
<nav id="sidebar" style="overflow:auto">
    <!-- Sidebar Header -->
    <div class="sidebar-header">
        <h4 style="text-align: center">{{ current_user.firstname }}</h4>
    </div>

     <!-- Sidebar Links -->
    <ul class="list-unstyled components">
        <!-- Link with dropdown items -->
        {% include 'left_dropdown_navbar.html' %}
        {% include 'course_materials_navbar.html' %}
        <li>
            <a class="const-grey" href='/course/{{ active_course.id }}/standings'>
                Таблица результатов
            </a>
        </li>
        {% if current_user.is_admin %}
        <li>
            <a class="const-grey" href='/course/{{ active_course.id }}/solutions'>
                Решения
            </a>
        </li>
        {% endif %}
        {% include 'profile_navbar.html' %}
    </ul>
</nav>
    {% include 'button_navbar.html' %}
{% endblock %}


{% block content %}

<div class='wide-content'>
{{ show_messages() }}

<nav>
    <ul class="pagination" style="margin-top: 0">
        {% if reviews_page.has_prev %}
           <li><a href="{{ url_for(endpoint, course_id=active_course.id, task_id=task_id, page_id=reviews_page.prev_num, user_id=user_id, rater_id=rater_id, sort_order=sort_order, sort_by=sort_by) }}">&laquo;</a></li>
        {% else %}
            <li class="disabled"><a href="#">&laquo;</a></li>
        {% endif %}

        {%- for page in reviews_page.iter_pages(1, 1, 2, 1) %}
            {% if page %}
                {% if page != reviews_page.page %}
                    <li><a href="{{ url_for(endpoint, course_id=active_course.id, task_id=task_id, page_id=page, user_id=user_id, rater_id=rater_id, sort_order=sort_order, sort_by=sort_by) }}">{{ page }}</a></li>
                {% else %}
                    <li class="active"><a href="#">{{ page }}</a></li>
                {% endif %}
            {% else %}
                <li class="disabled"><a href="#">…</a></li>
            {% endif %}
        {%- endfor %}

        {% if reviews_page.has_next %}
            <li><a href="{{ url_for(endpoint, course_id=active_course.id, task_id=task_id, page_id=reviews_page.next_num, user_id=user_id, rater_id=rater_id, sort_order=sort_order, sort_by=sort_by) }}">&raquo;</a></li>
        {% else %}
            <li class="disabled"><a href="#">&raquo;</a></li>
        {% endif %}
    </ul>
</nav>

<form method='GET' action='{{ url_for(endpoint, course_id=active_course.id, task_id=task_id) }}'>
    <select class='selectpicker' title="Студент" width='300px' data-live-search='true' name='user_id'>
        {% for student, info in students %}
            <option value='{{ student.id }}' {% if user_id and student.id == user_id | int %}selected{% endif %}>
            {{ student.lastname }} {{ student.firstname }}
            {% if student.patronym %}
                {{ student.patronym }}
            {% endif %} {{ info.info }}
            </option>
        {% endfor %}
    </select>
    <select class='selectpicker' title="Оценивающий" width='300px' data-live-search='true' name='rater_id'>
        {% for student, info in students %}
            <option value='{{ student.id }}' {% if rater_id and student.id == rater_id | int %}selected{% endif %}>
            {{ student.lastname }} {{ student.firstname }}
            {% if student.patronym %}
                {{ student.patronym }}
            {% endif %} {{ info.info }}
            </option>
        {% endfor %}
    </select>
    <button type='submit' class='btn btn-default'>Показать посылки</button>
</form>

{% if user_id or rater_id %}
    <form method='GET' action='{{ url_for(endpoint, course_id=active_course.id, task_id=task_id) }}'>
        <button type='submit' class='btn btn-danger'>Сбросить фильтры</button>
    {% if user_id %}
        <a class="btn btn-warning" href="{{ url_for(endpoint, course_id=active_course.id, task_id=task_id, rater_id=rater_id, sort_order=sort_order, sort_by=sort_by) }}" role="button">
            Студент: {{ user_firstlastname }}<span class="glyphicon glyphicon-remove"></span>
        </a>
    {% endif %}
    {% if rater_id %}
        <a class="btn btn-warning" href="{{ url_for(endpoint, course_id=active_course.id, task_id=task_id, user_id=user_id, sort_order=sort_order, sort_by=sort_by) }}" role="button">
            Оценивающий: {{ rater_firstlastname }}<span class="glyphicon glyphicon-remove"></span>
        </a>
    {% endif %}
    </form>
{% endif %}

{% set sort_order_cur = 'desc' if sort_order == 'asc' else 'asc' %}
{% set sort_icon = 'glyphicon glyphicon-triangle-top' if sort_order == 'asc' else 'glyphicon glyphicon-triangle-bottom' %}

<table class='table table-condensed'>
    <tr>
        <th width='50px'><a href="{{ url_for(endpoint, course_id=active_course.id, task_id=task_id, user_id=user_id, rater_id=rater_id, sort_by='id', sort_order=sort_order_cur if sort_by == 'id' else 'desc') }}">
            #{% if sort_by == 'id' %}
            <span class="{{ sort_icon }}"></span>
            {% else %}{% endif %}
        </a></th>
        <th width='150px'><a href="{{ url_for(endpoint, course_id=active_course.id, task_id=task_id, user_id=user_id, rater_id=rater_id, sort_by='date', sort_order=sort_order_cur if sort_by == 'date' else 'desc') }}">
             Дата{% if sort_by == 'date'%}
            <span class="{{ sort_icon }}"></span>
            {% else %}{% endif %}
        </a></th>
        <th width='200px'>Студент</th>
        <th width='200px'><a href="{{ url_for("show_reviews_stat", course_id=active_course.id, task_id=task_id) }}">
            Оценивающий<span class="glyphicon glyphicon-stats"></span>
        </a></th>
        <th width='100px'><a href="{{ url_for(endpoint, course_id=active_course.id, task_id=task_id, user_id=user_id, rater_id=rater_id, sort_by='mark', sort_order=sort_order_cur if sort_by == 'mark' else 'desc') }}">
            Оценка{% if sort_by == 'mark'%}
            <span class="{{ sort_icon }}"></span>
            {% else %}{% endif %}
        </a></th>
        <th width='75px'>Файлы</th>
    </tr>
    {% for review in reviews_page.items %}
        <tr>
            <td>{{ review.id }}</td>
            <td>{{ review.date.strftime('%d.%m.%Y %H:%M') }}</td>
            <td><a href="{{ url_for(endpoint, course_id=active_course.id, task_id=task_id, user_id=review.solution.user.id, rater_id=rater_id, sort_order=sort_order, sort_by=sort_by) }}"><span class="glyphicon glyphicon-filter"></span></a>
                {{ review.solution.user.lastname }}
                {{ review.solution.user.firstname }}
            </td>
            <td><a href="{{ url_for(endpoint, course_id=active_course.id, task_id=task_id, user_id=user_id, rater_id=review.rater.id, sort_order=sort_order, sort_by=sort_by) }}"><span class="glyphicon glyphicon-filter"></span></a>
                {{ review.rater.lastname }}
                {{ review.rater.firstname }}
            </td>
            {% if review.mark is not none %}
                <td>{{ review.mark }}</td>
            {% else %}
                <td></td>
            {% endif %}
            <td>
                {% for description in review.solution.files %}
                    <a href='/solution_file/{{ review.solution.id }}/{{ description }}'>
                        {{ description }}
                    </a>
                {% endfor %}
            </td>
        </tr>
    {% endfor %}
</table>
</div>
{% endblock %}
