{% extends "layout.html" %}

{% block title %}{% endblock %}

{% block side_navbar %}
<nav id="sidebar" style="overflow:auto">
    <!-- Sidebar Header -->
    <div class="sidebar-header">
        <h4 style="text-align: center">{{ current_user.firstname }}</h4>
    </div>

     <!-- Sidebar Links -->
    <ul class="list-unstyled components">
        <!-- Link with dropdown items -->
        {% include 'left_dropdown_navbar.html' %}
        {% include 'course_materials_navbar.html' %}
        <li>
            <a class="const-grey" href='/course/{{ active_course.id }}/standings'>
                Таблица результатов
            </a>
        </li>
        {% if current_user.is_admin %}
        <li class="active">
            <a class="const-grey" href='/course/{{ active_course.id }}/solutions'>
                Решения
            </a>
        </li>
        {% endif %}
        {% include 'profile_navbar.html' %}
    </ul>
</nav>
    {% include 'button_navbar.html' %}
{% endblock %}


{% block content %}

<div class='fullwide-content'>
{{ show_messages() }}

<nav>
    <ul class="pagination" style="margin-top: 0">
        {% if solution_page.has_prev %}
           <li><a href="{{ url_for(endpoint, course_id=active_course.id, page_id=solution_page.prev_num, user_id=user_id, task_id=task_id, status=status, sort_order=sort_order, sort_by=sort_by) }}">&laquo;</a></li>
        {% else %}
            <li class="disabled"><a href="#">&laquo;</a></li>
        {% endif %}

        {%- for page in solution_page.iter_pages(1, 1, 2, 1) %}
            {% if page %}
                {% if page != solution_page.page %}
                    <li><a href="{{ url_for(endpoint, course_id=active_course.id, page_id=page, user_id=user_id, task_id=task_id, status=status, sort_order=sort_order, sort_by=sort_by) }}">{{ page }}</a></li>
                {% else %}
                    <li class="active"><a href="#">{{ page }}</a></li>
                {% endif %}
            {% else %}
                <li class="disabled"><a href="#">…</a></li>
            {% endif %}
        {%- endfor %}

        {% if solution_page.has_next %}
            <li><a href="{{ url_for(endpoint, course_id=active_course.id, page_id=solution_page.next_num, user_id=user_id, task_id=task_id, status=status, sort_order=sort_order, sort_by=sort_by) }}">&raquo;</a></li>
        {% else %}
            <li class="disabled"><a href="#">&raquo;</a></li>
        {% endif %}
    </ul>
</nav>

<form method='GET' action='{{ url_for(endpoint, course_id=active_course.id) }}'>
    <select class='selectpicker' title="Студент" width='300px' data-live-search='true' name='user_id'>
        {% for student, info in students %}
            <option value='{{ student.id }}' {% if user_id and student.id == user_id | int %}selected{% endif %}>
            {{ student.lastname }} {{ student.firstname }}
            {% if student.patronym %}
                {{ student.patronym }}
            {% endif %} {{ info.info }}
            </option>
        {% endfor %}
    </select>
    <select class='selectpicker' title="Задание" width='300px' data-live-search='true' name='task_id'>
        {% for task in active_course.tasks %}
            <option value='{{ loop.index }}' {% if task_id and loop.index == task_id | int %}selected{%endif%}>
            {{ task.task.name }}
            </option>
        {% endfor %}
    </select>
    <select class='selectpicker' title="Статус" width='300px' data-live-search='true' name='status'>
        {% for cur_status in available_status %}
            <option value='{{ cur_status }}' {% if status and cur_status == status %}selected{%endif%}>
            {{ cur_status }}
            </option>
        {% endfor %}
    </select>
    <button type='submit' class='btn btn-default'>Показать посылки</button>
</form>

{% if user_id or task_id or status %}
    <form method='GET' action='{{ url_for(endpoint, course_id=active_course.id) }}'>
        <button type='submit' class='btn btn-danger'>Сбросить фильтры</button>
    {% if user_id %}
        <a class="btn btn-warning" href="{{ url_for(endpoint, course_id=active_course.id, task_id=task_id, status=status, sort_order=sort_order, sort_by=sort_by) }}" role="button">
            Студент: {{ user_firstlastname }}<span class="glyphicon glyphicon-remove"></span>
        </a>
    {% endif %}
    {% if task_id %}
        <a class="btn btn-warning" href="{{ url_for(endpoint, course_id=active_course.id, user_id=user_id, status=status, sort_order=sort_order, sort_by=sort_by) }}" role="button">
            Задание: {{ active_course.tasks[task_id | int - 1].task.name }}<span class="glyphicon glyphicon-remove"></span>
        </a>
    {% endif %}
    {% if status %}
        <a class="btn btn-warning" href="{{ url_for(endpoint, course_id=active_course.id, user_id=user_id, task_id=task_id, sort_order=sort_order, sort_by=sort_by) }}" role="button">
            Статус: {{ status }}<span class="glyphicon glyphicon-remove"></span>
        </a>
    {% endif %}
    </form>
{% endif %}

{% set sort_order_cur = 'desc' if sort_order == 'asc' else 'asc' %}
{% set sort_icon = 'glyphicon glyphicon-triangle-top' if sort_order == 'asc' else 'glyphicon glyphicon-triangle-bottom' %}

<table class='table table-condensed'>
    <tr>
        <th width='50px'><a href="{{ url_for(endpoint, course_id=active_course.id, user_id=user_id, task_id=task_id, status=status, sort_by='id', sort_order=sort_order_cur if sort_by == 'id' else 'desc') }}">
            #{% if sort_by == 'id'%}
            <span class="{{ sort_icon }}"></span>
            {% else %}{% endif %}
        </a></th>
        <th width='50px'></th>
        <th width='150px'><a href="{{ url_for(endpoint, course_id=active_course.id, user_id=user_id, task_id=task_id, status=status, sort_by='date', sort_order=sort_order_cur if sort_by == 'date' else 'desc') }}">
             Дата{% if sort_by == 'date'%}
            <span class="{{ sort_icon }}"></span>
            {% else %}{% endif %}
        </a></th>
        <th width='200px'>Студент</th>
        <th>Задание</th>
        <th width='100px'><a href="{{ url_for(endpoint, course_id=active_course.id, user_id=user_id, task_id=task_id, status=status, sort_by='mark', sort_order=sort_order_cur if sort_by == 'mark' else 'desc') }}">
            Оценка{% if sort_by == 'mark'%}
            <span class="{{ sort_icon }}"></span>
            {% else %}{% endif %}
        </a></th>
        <th width='75px'>Метрика</th>
        <th width='75px'>Файлы</th>
        <th>Статус</th>
    </tr>
    {% for solution in solution_page.items %}
        <tr>
            <td>{{ solution.id }}</td>
            <td>
                {% if solution.attached_task.task.type == 'test' and solution.status != 'Init' %}
                    <a href='/course/{{ active_course.id }}/show_grading/{{ solution.id }}'>
                        <span class="glyphicon glyphicon-eye-open"></span>
                    </a>
                {% endif %}
                {% if solution.attached_task.task.type == 'notebook' %}
                    <a href='/course/{{ active_course.id }}/show_reviews/{{ solution.id }}'>
                        <span class="glyphicon glyphicon-eye-open"></span>
                    </a>
                    &nbsp;
                    <a href='/course/{{ active_course.id }}/admin_review/{{ solution.id }}'>
                        <span class="glyphicon glyphicon-edit"></span>
                    </a>
                {% endif %}
                {% if solution.attached_task.task.type == 'programming' %}
                    <a href='/grade_solution/{{ solution.id }}'>
                        <span class="glyphicon glyphicon-repeat"></span>
                    </a>
                {% endif %}
            </td>
            <td>{{ solution.date.strftime('%d.%m.%Y %H:%M') }}</td>
            <td><a href="{{ url_for(endpoint, course_id=active_course.id, user_id=solution.user.id, task_id=task_id, status=status, sort_order=sort_order, sort_by=sort_by) }}"><span class="glyphicon glyphicon-filter"></span></a>
                {{ solution.user.lastname }}
                {{ solution.user.firstname }}
            </td>
            <td><a href="{{ url_for(endpoint, course_id=active_course.id, user_id=user_id, task_id=active_course.tasks.index(solution.attached_task) + 1, status=status, sort_order=sort_order, sort_by=sort_by) }}"><span class="glyphicon glyphicon-filter"></span></a>
                {{ solution.attached_task.task.name }}
            </td>
            {% if solution.mark_final is not none %}
                <td>{{ solution.mark_final }}</td>
            {% else %}
                <td></td>
            {% endif %}
            {% if 'metric' in solution.info %}
                <td>{{ solution.info['metric'] }}</td>
            {% else %}
                <td></td>
            {% endif %}
            <td>
                {% for description in solution.files %}
                    <a href='/solution_file/{{ solution.id }}/{{ description }}'>
                        {{ description }}
                    </a>
                {% endfor %}
            </td>
            <td>
                <a href="{{ url_for(endpoint, course_id=active_course.id, user_id=user_id, task_id=task_id, status=solution.status, sort_order=sort_order, sort_by=sort_by) }}"><span class="glyphicon glyphicon-filter"></span></a>

                {% if 'results' in solution.info or solution.status == 'Preprocessing failed' or solution.status == 'Running failed' %}

                    <a href='#' onclick='return false;' data-toggle='collapse'
                        data-target='#tests{{ solution.id }}'>
                        {{ solution.status }}
                    </a>

                    <div id='tests{{ solution.id }}' class='collapse'>
                        <table class='table table-condensed'>
                            <tr>
                                <th width='50px'>#</th>
                                <th width='600px'>Результат</th>
                                <th>Время работы в секундах</th>
                            </tr>
                            {% if solution.status == 'Preprocessing failed' %}
                                <tr>
                                    <td></td>
                                    <td>
                                        <a href='#' onclick='return false;' data-toggle='collapse'
                                            data-target='#tests{{ solution.id }}-preproc'>
                                            Preprocessing failed: {{ solution.info['preproc_status'] }}
                                        </a>
                                        <div id='tests{{ solution.id }}-preproc' class='collapse'>
                                            <pre>{{ solution.info['preproc_log'] }}</pre>
                                        </div>
                                    </td>
                                    <td></td>
                                </tr>
                            {% endif %}
                            {% for test in solution.info['results'] %}
                                <tr>
                                    <td>{{ loop.index }}</td>
                                    <td>
                                        {% if 'stderr' in test and test['stderr'] %}
                                            <a href='#' onclick='return false;' data-toggle='collapse'
                                                data-target='#tests{{ solution.id }}-{{ loop.index }}'>
                                                {{ test['status'] }}
                                            </a>
                                            <div id='tests{{ solution.id }}-{{ loop.index }}' class='collapse'>
                                                <pre>{{ test['stderr'] }}</pre>
                                            </div>
                                        {% else %}
                                            {{ test['status'] }}
                                        {% endif %}
                                    </td>
                                    <td>{{ "%.2f" % test.time }}</td>
                                </tr>
                            {% endfor %}
                            {% if solution.status == 'Grading failed' %}
                                <tr>
                                    <td></td>
                                    <td>
                                        <a href='#' onclick='return false;' data-toggle='collapse'
                                            data-target='#tests{{ solution.id }}-grading'>
                                            Grading failed: {{ solution.info['grading_status'] }}
                                        </a>
                                        <div id='tests{{ solution.id }}-grading' class='collapse'>
                                            <pre>{{ solution.info['grading_log'] }}</pre>
                                        </div>
                                    </td>
                                    <td></td>
                                </tr>
                            {% endif %}
                            {% if solution.status == 'Running failed' %}
                                <tr>
                                    <td></td>
                                    <td>
                                        <a href='#' onclick='return false;' data-toggle='collapse'
                                            data-target='#tests{{ solution.id }}-running'>
                                            Running failed
                                        </a>
                                        <div id='tests{{ solution.id }}-running' class='collapse'>
                                            <pre>{{ solution.info['running_log'] }}</pre>
                                        </div>
                                    </td>
                                    <td></td>
                                </tr>
                            {% endif %}
                        </table>
                    </div>

                {% else %}
                    {{ solution.status }}
                {% endif %}
            </td>
        </tr>
    {% endfor %}
</table>
</div>
{% endblock %}
