{% extends "layout.html" %}

{% block title %}{% endblock %}

{% block page_css %}
#standings_table thead tr .header {
    background-image: url(/static/js/bg.gif);
    background-repeat: no-repeat;
    background-position: center right;
    cursor: pointer;
}
#standings_table thead tr .headerSortUp {
    background-image: url(/static/js/asc.gif);
}
#standings_table thead tr .headerSortDown {
    background-image: url(/static/js/desc.gif);
}
{% endblock %}

{% block side_navbar %}
<nav id="sidebar" style="overflow:auto">
    <!-- Sidebar Header -->
    <div class="sidebar-header">
        <h4 style="text-align: center">{{ current_user.firstname }}</h4>
    </div>

     <!-- Sidebar Links -->
    <ul class="list-unstyled components">
        <!-- Link with dropdown items -->
        {% include 'left_dropdown_navbar.html' %}
        {% include 'course_materials_navbar.html' %}
        <li class="active">
            <a class="const-grey" href='/course/{{ active_course.id }}/standings'>
                Таблица результатов
            </a>
        </li>
        {% if current_user.is_admin %}
        <li>
            <a class="const-grey" href='/course/{{ active_course.id }}/solutions'>
                Решения
            </a>
        </li>
        {% endif %}
        {% include 'profile_navbar.html' %}
    </ul>
</nav>
    {% include 'button_navbar.html' %}
{% endblock %}


{% block content %}

{% set cell_count = [3] %}
{% for attached_task in active_course.tasks %}
    {% if attached_task.task.type == 'test' %}
        {% if cell_count.append(cell_count.pop() + 1) %}{% endif %}
    {% else %}
        {% if cell_count.append(cell_count.pop() + 2) %}{% endif %}
    {% endif %}
{% endfor %}
{% set percent = 100 / cell_count[0] %}

<div class='fullwide-content'>

<table class='table table-bordered table-condensed' id='standings_table'>
{% set ind = [0] %}
<thead>
<tr>
    {% if current_user.is_admin %}
        <th rowspan='2' width='{{ percent }}%'></th>
        {% if ind.append(ind.pop() + 1 | int) %}{% endif %}
        <th rowspan='2' width='{{ percent / 2 }}%' class='email_col' style='display:none'>Email</th>
        {% if ind.append(ind.pop() + 1 | int) %}{% endif %}
        <th rowspan='2' width='{{ percent / 2 }}%' class='info_col' style='display:none'>Группа</th>
        {% if ind.append(ind.pop() + 1 | int) %}{% endif %}
    {% else %}
        <th rowspan='2' width='{{ percent * 2 }}%'></th>
    {% endif %}

    {% for attached_task in active_course.tasks %}
    {%- if now < attached_task.start_date and not current_user.is_admin %}{% continue %}{% endif %}
        {%- if attached_task.task.type == 'programming' -%}
        <th colspan='2'>
        {%- else -%}
        <th>
        {%- endif -%}
        {{ attached_task.task.name }}</th>
    {% endfor %}
    <th rowspan='2' width='{{ percent }}%'>Сумма</th>
</tr>
<tr>
    {% for attached_task in active_course.tasks %}
    {%- if now < attached_task.start_date and not current_user.is_admin %}{% continue %}{% endif %}
    <th width='{{ percent }}%'>Оценка</th>
    {% if ind.append(ind.pop() + 1 | int) %}{% endif %}
        {% if attached_task.task.type == 'programming' %}
            {% if ind.append(ind.pop() + 1 | int) %}{% endif %}
            <th width='{{ percent }}%'>Метрика</th>
        {% endif %}
    {% endfor %}
</tr>
</thead>
<tbody>
{% for (user_info, user, standing) in standings_q %}
    {% if (user.is_admin or not user.email_confirmed) and not current_user.is_admin %}
        {% continue %}
    {% endif %}
    <tr>
        <td>
            {% if user.is_admin or not user.email_confirmed %}<i>{% endif %}
                {{ user.lastname }} {{ user.firstname }}
                {% if current_user.is_admin and user.patronym %}
                    <span class='patronym' style='display:none'>
                        {{ user.patronym }}
                    </span>
                {% endif %}
            {% if user.is_admin or not user.email_confirmed %}</i>{% endif %}
        </td>
        {% if current_user.is_admin %}
            <td class='email_col' style='display:none'>{{ user.email }}</td>
            <td class='info_col' style='display:none'>{{ user_info.info }}</td>
        {% endif %}
    {% set sum = [0.0] %}
    {% for attached_task in active_course.tasks %}
        {%- if now < attached_task.start_date and not current_user.is_admin %}{% continue %}{% endif %}
        {% set hidden = not ((attached_task.use_peer_review and now > attached_task.peer_review_date and not standing.results[attached_task.id | string + 'hidden']) or
                         (not attached_task.use_peer_review and (not attached_task.hide_results_before_deadline or now > attached_task.finish_date))) %}
        {% if standing.results[attached_task.id | string] is defined and
                (current_user.is_admin or not hidden)
        %}
        <td>
            {% set mark = standing.results[attached_task.id | string] | float %}
            {% if sum.append(sum.pop() + mark | float) %}{% endif %}
            {% if hidden %}
                <div class='hidden-res'><i> {{ mark }} </i></div>
            {% else %}
                {{ mark }}
            {% endif %}
        </td>
            {% if attached_task.task.type == 'programming' %}
                <td>
                    {{ standing.results[attached_task.id | string + 'metric'] }}
                </td>
            {% endif %}
        {% else %}
        <td>
        </td>
            {% if attached_task.task.type == 'programming' %}
                <td>
                </td>
            {% endif %}
        {% endif %}
    {% endfor %}
        <td>
            {{ (sum[0] * 100 + 0.1) | int / 100 }}
        </td>
    </tr>
{% endfor %}
</tbody>
</table>

{% if current_user.is_admin %}
<div class='form-group'>
    <div class="checkbox">
        <label>
                <input id="show_email" type="checkbox">
                Показывать email
        </label>
    </div>
    <div class="checkbox">
        <label>
                <input id="show_info" type="checkbox">
                Показывать номер группы
        </label>
    </div>
    <div class="checkbox">
        <label>
                <input id="show_patronym" type="checkbox">
                Показывать отчество
        </label>
    </div>
    <div class="checkbox">
        <label>
                <input id="show_hidden" type="checkbox" checked>
                Показывать скрытые для студентов результаты
        </label>
    </div>
</div>
<a href='/course/{{ active_course.id }}/standings_csv'>
    <span class="glyphicon glyphicon-list"></span> Экспорт в CSV
</a>
{% endif %}


<script type='text/javascript'>
$(document).ready(function()
    {
        $("#standings_table").tablesorter({
            headers: {
                {% for attached_task in active_course.tasks %}
                    {%- if now < attached_task.start_date and not current_user.is_admin %}{% continue %}{% endif %}
                    {% if current_user.is_admin %}
                        {{ loop.index + 2 }}:
                    {% else %}
                        {{ loop.index }}:
                    {%- endif -%}
                    { sorter: false },
                {% endfor %}
            },
            sortList: [[{{ ind.pop() }}, 1], [0, 0]]

        });
    }
);
{% if current_user.is_admin %}
    $('#show_email').change(function() {
        $(".email_col").toggle(this.checked);
    });
    $('#show_info').change(function() {
        $(".info_col").toggle(this.checked);
    });
    $('#show_patronym').change(function() {
        $(".patronym").toggle(this.checked);
    });
    $('#show_hidden').change(function() {
        $(".hidden-res").toggle(this.checked);
    });
{% endif %}
</script>
{% endblock %}
</div>