{% macro render_field(field, render_label=True) %}
{% if field.type == 'CSRFTokenField' %}
    {{ field }}
{% else %}
    {% if field.errors and field.type != 'FieldList' %}
    <div class='form-group has-error'>
    {% else %}
    <div class='form-group'>
    {% endif %}

    {% if field.type == 'DateTimeField' %}
        {% if render_label %}
            {{ field.label }}
        {% endif %}
        <div class='input-group date timepicker'>
            {{ field(class='form-control') }}
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
    {% elif field.type == 'BooleanField' %}
        <div class="checkbox">
            {% if render_label %}
                <label>
                    {{ field }}
                    {{ field.label.text|safe }}
                </label>
            {% else %}
                {{ field }}
            {% endif %}
        </div>
    {% elif field.type == 'SelectField' %}
        {% if render_label %}
            {{ field.label }}
        {% endif %}
        {{ field(class='selectpicker form-control') }}
    {% elif field.type == 'RadioField' %}
        {% if render_label %}
            {{ field.label }}
        {% endif %}
        {% for subfield in field %}
            <div class="radio">
                {% if render_label %}
                    <label>
                        {{ subfield }}
                        {{ subfield.label.text }}
                    </label>
                {% endif %}
            </div>
        {% endfor %}
    {% elif field.type == 'FileField' %}
        {% if render_label %}
            <label for="{{ field.id }}">
                {{ field.label.text|safe }}
            </label>
        {% endif %}
        <br>
        {{ field }}
    {% elif field.type == 'MdTextField' %}
        <div>
            {{ field.label.text|markdown }}
        </div>
    {% elif field.type == 'FormField' %}
        <div class='form-row'>
            {% for subfield in field %}
            <div class='form-group' style='width: 50%'>
                {% if render_label %}
                    {{ subfield.label }}
                {% endif %}
                {{ subfield }}
            </div>
            {% endfor %}
        </div>
    {% elif field.type == 'FieldList' %}
        {% for subfield in field %}
            {{ render_field(subfield) }}
        {% endfor %}
    {% else %}
        {% if render_label and field.label.text %}
            {{ field.label }}
        {% endif %}
        {{ field(class='form-control') }}
    {% endif %}

    {% if field.type != 'FieldList' %}
        {% if field.errors %}
            <p class='help-block'>{{ ','.join(field.errors) }}</p>
        {% elif field.description %}
            <p class='help-block'>{{ field.description }}</p>
        {% endif %}
    {% endif %}

    </div>
{% endif %}
{% endmacro %}

{% macro render_form(form, submit_text, upload_files=False) %}
{% if upload_files %}
<form method='POST' enctype='multipart/form-data'>
{% else %}
<form method='POST'>
{% endif %}
    {% for field in form %}
        {{ render_field(field) }}
    {% endfor %}
    <button type='submit' class='btn btn-default'>{{ submit_text }}</button>
</form>
{% endmacro %}

{% macro show_messages() %}
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }}">{{ message }}</div>
        {% endfor %}
    {% endif %}
{% endwith %}
{% endmacro %}

{% macro render_tabs(tabs_id, tabs) %}
    <ul class="nav nav-tabs" id="{{ tabs_id }}" role="tablist">
        {% for tab in tabs %}
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#{{ tabs_id }}_{{ loop.index }}">{{ tab['name'] }}</a>
            </li>
        {% endfor %}
    </ul>

    <div class="tab-content">
        {% for tab in tabs %}
            <div class="tab-pane fade" id="{{ tabs_id }}_{{ loop.index }}">
                {{ tab['content'] }}
            </div>
        {% endfor %}
    </div>

    <script type="text/javascript">
        $('#{{ tabs_id }} a:first').tab('show') // Select first tab
    </script>
{% endmacro %}
